<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
      <% try{ 
        if(session.username != null){
        %>
      <p>Session = <%= session.username%></p>
      <%}
            }catch(err){ %>
      <p>User not logged in</p>
      <%} %>
  </body>
</html>
