<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Askr - Ask a question, discover an answer...</title>

    <!-- Custom styles for this template -->
    <link href="../stylesheets/bootstrap.css" rel="stylesheet">
 <style>
      .form-control {
        width: 30%;
      }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><image src="images/askr_logo.jpg" height=30></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
    <section class="login_header">
          <!--/login header gets populated here -->
         <% if(session.username != null){   %>
            <form class='navbar-form navbar-right'>
                <div class='form-group'>
                    <input type='text' placeholder='Welcome <%=session.username%>!' class='form-control'>
                </div> - 
                <a href='/logout'>Logout</a></form>
            <% }else{%>
		<form class='navbar-form navbar-right' action='/login' name='loginForm' onSubmit='return validateLoginForm();' method='get'>
            <div class='form-group'><input type='text' placeholder='Email' class='form-control' name='email'></div>
            <div class='form-group'><input type='password' placeholder='password' class='form-control' name='password'></div>
            <button type='submit' name='button' value='signin' onClick="clicked='signIn'" class='btn btn-success'>Sign in</button>
            <button type='submit' name='button' value='signup' class='btn btn-success'>Sign up</button>
        </form><%}%>
      </section>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
    <h1>So you want to join Askr?</h1><p>It just takes a couple minutes...</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
     
            <h2>Sign Up</h2>
            <h3>It's free and easy, just fill out the form below</h3>
            <form  action='/signup/new' name='signUpForm' onSubmit='return validateForm();' method='get'>
                <div class='form-group'>
                    <input type='text' placeholder='First Name' class='form-control' name='fName'>
                    </div>
                <div class='form-group'>
                    <input type='text' placeholder='Last Name' class='form-control' name='lName'>
                    </div>
                <div class='form-group'>
                    <input type='text' placeholder='Email' class='form-control' name='email'>
                    </div>
                <div class='form-group'>
                    <input type='password' placeholder='Password' class='form-control' name='password'>
                    </div>
                
                    <button type='submit' class='btn btn-success'>Submit</button>
                
              
            </form>
          <!--/body gets populated here -->
         </div>

      <hr>

      <footer>
        <p>&copy; Askr 2015</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 
 
  <script src="javascripts/SignUpValidator.js"></script>
      <script src="../javascripts/loginValidator.js"></script>
  </body>
</html>
