<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Askr - Ask a question, discover an answer...</title>

    <!-- Custom styles for this template -->
    <link href="../stylesheets/bootstrap.css" rel="stylesheet">
	

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../"><image src="../images/askr_logo.jpg" height=30></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse login_header">
		 <% if(session.username != null){   %>
            <form class='navbar-form navbar-right'>
                <div class='form-group'>
                    <input type='text' placeholder='Welcome <%=session.username%>!' class='form-control'>
                </div> - 
                <a href='/logout'>Logout</a></form>
            <% }else{%>
		<form class='navbar-form navbar-right' action='/login' name='loginForm' onSubmit='return validateLoginForm();' method='get'>
            <div class='form-group'><input type='text' placeholder='Email' class='form-control' name='email'></div>
            <div class='form-group'><input type='password' placeholder='password' class='form-control' name='password'></div>
            <button type='submit' name='button' value='signin' onClick="clicked='signIn'" class='btn btn-success'>Sign in</button>
            <button type='submit' name='button' value='signup' class='btn btn-success'>Sign up</button>
        </form><%}%>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
		<section class="question">
		<!--/question gets populated here -->
		</section>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
	  
        <div class="col-md-10">
            <% if(session.username !=null){%>
            <form class='navbar-form' action='/comment' name='commentForm' onSubmit='return validateCommentForm();' method='get'>
                <div class='form-group'>
                    <textarea placeholder='Enter your comment' class='form-control' name='comment' maxlength='50' style='width:485px'  rows='3'></textarea>
                    <input type='hidden' name='qid' value='<%=qid%>'>
                </div>
                <div class='form-group'>
                    <button type='submit' name="button" value="button" onClick="clicked='submit'"class='btn btn-success'>Add Comment</button></div>
            </form>
            <%} else { %>
            <div class='alert alert-warning' role='alert'>Please login above if you want to comment or vote for answer</div>
            <% } %>
          <!--/body questions get populated here -->
        </div>
        <div class="col-md-11">
          <!--/body questions get populated here -->
        </div>
        
      </div>

      <hr>

      <footer>
        <p>&copy; Askr 2015</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="../javascripts/viewquestion.js"></script>
	<script src="../javascripts/loginValidator.js"></script>
        <script src="../javascripts/commentValidator.js"></script>
  </body>
</html>
